<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the expansion 1 title
    </mat-expansion-panel-header>

    This the expansion 1 content

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the expansion 2 title
    </mat-expansion-panel-header>

    This the expansion 2 content

  </mat-expansion-panel>

</mat-accordion>

<div class="mt-3 row" style="width: 25%; float: right; margin-right: 9%">

  <div class="col-md-3 ml-2">
    <button mat-raised-button (click)="stopInstance()" class="text-light"
            style="float: right; margin-right: 9%; background-color: #cc503f">
      Stop
    </button>
  </div>

  <div class="col-md-3 ml-2">
    <button mat-raised-button class="btn-secondary" (click)="goBack()">
      Back
    </button>
  </div>

</div>
