<h2 mat-dialog-title>Environment configuration start</h2>
<mat-dialog-content class="mat-typography" style="border: 1px solid darkmagenta">

  <div class="row">
    <div class="col-md-8" style="border: 1px solid red">
      <h3>Environment</h3>
      {{data.id}}
    </div>
    <div class="col-md-4 text-center" style="border: 1px solid green">
      <h3>Status</h3>
      {{data.info.status}}
    </div>
  </div>

  <br>

  <h3>Message</h3>
  {{data.info.msg}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Back</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Envs</button>
</mat-dialog-actions>
