<div class="jumbotron pt-4 pb-4"
     style="width:40%;background-color: rgba(246,246,246,0.85); border-radius: 10px;
      margin-left: 30%">

  <h4>Flavor</h4>

  <form class="input-form">
    <mat-form-field class="input-form-width">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameFormControl" placeholder="Ex. my-env" [(ngModel)]="flavor.name">
      <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
        Please enter a valid name
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error> <mat-error *ngIf="nameFormControl.hasError('minLength')">
        At least 1 symbol
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('pattern')">
        Оnly latin alphabet
      </mat-error>
    </mat-form-field>
  </form>

  <form class="input-form mt-md-3">
    <mat-form-field class="input-form-width">
      <mat-label>Mount Point</mat-label>
      <input matInput [formControl]="pathFormControl" placeholder="Ex. /usr/aaa" [(ngModel)]="flavor.mountPoint">
      <mat-error *ngIf="pathFormControl.hasError('name') && !pathFormControl.hasError('required')">
        Please enter a valid mnt
      </mat-error>
      <mat-error *ngIf="pathFormControl.hasError('required')">
        Mount point is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="pathFormControl.hasError('pattern')">
        Pattern: /.../.../...
      </mat-error>
    </mat-form-field>
  </form>

  <form class="input-form mt-md-3">
    <mat-form-field class="input-form-width">
      <mat-label>Size (Gb)</mat-label>
      <input matInput [formControl]="sizeFormControl" placeholder="Ex. 10" [(ngModel)]="flavor.size">
      <mat-error *ngIf="sizeFormControl.hasError('name') && !sizeFormControl.hasError('required')">
        Please enter a valid size
      </mat-error>
      <mat-error *ngIf="sizeFormControl.hasError('required')">
        Size is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="sizeFormControl.hasError('pattern')">
        Value should be greater than 0
      </mat-error>
    </mat-form-field>
  </form>

</div>

<div class="mt-0 row" style="width: 25%; float: right; margin-right: 27%">

  <div class="col-md-3" style="margin-left: 80px">
    <button mat-raised-button class="btn-danger" (click)="ok()" style="float: right; margin-right: 9%">
      <mat-icon>done</mat-icon>
    </button>
  </div>

  <div class="col-md-3">
    <button mat-raised-button class="btn-secondary" (click)="goBack()">
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>

</div>

<br>
<br>
