<div>
  <div style="border: 1px solid darkgrey">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Image name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
      </ng-container>

      <!-- Image's tag Column -->
      <ng-container matColumnDef="tag">
        <mat-header-cell *matHeaderCellDef>Tag</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tag}} </mat-cell>
      </ng-container>

      <!-- Image's path Column -->
      <ng-container matColumnDef="path">
        <mat-header-cell *matHeaderCellDef>Path</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.path}}</mat-cell>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button class="text-light" (click)="select(row)"
                  style="background-color: #27a027;">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover"></mat-row>
    </table>

    <mat-paginator
        #paginator
        [length]="envAmount"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<br>

<button mat-raised-button class="btn-secondary" style="float: right; margin-right: 15.4%" (click)="goBack()">
  <mat-icon>navigate_before</mat-icon>
</button>
