.table-text {
  font-family: Helvetica;
  font-style: normal;
  font-size: 1.25em;
}

.mat-row {
  height: auto;
}

table {
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-header-row {
  background-color: rgba(115, 115, 115, 0.73);
}

.mat-row:hover {
  background-color: rgba(229, 221, 228, 0.58);
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;

  color: honeydew;

  font-family: Helvetica;
  font-style: normal;
  font-size: 0.9em;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}
