<app-carusel></app-carusel>

<div class="text" style="margin-left: 7.5em; width: 78.5%">
  <span style="margin-left: 5em">
    EnZ0ne is the playground for interacting with hosted environments.
  </span>
</div>
