<div class="jumbotron pt-4 pb-4 center-body">

  <h4>Host</h4>

  <form class="input-form">
    <mat-form-field class="input-form-width">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameFormControl" placeholder="Ex. my-env" [(ngModel)]="host.data.name">
      <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
        Please enter a valid name
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('pattern')">
        Pattern: my_env_ubuntu_ver2.0
      </mat-error>
    </mat-form-field>
  </form>


  <br>

  <h5>Image</h5>
  <div *ngIf="host.data.image !== undefined">

    <div class="row mt-md-2 p-2 ml-2"
         style="background-color: white; border-radius: 10px; width: 60%">

      <div class="col-md-7">
        <span style="font-size: small">Name</span>
        <p>{{host.data.image.name}}</p>
      </div>
      <div class="col-md-5">
        <span style="font-size: small">Tag</span>
        <p>{{host.data.image.tag}}</p>
      </div>
    </div>
  </div>

  <div class="row mt-md-3" style="float: right">

    <div class="col-md-3">
      <button mat-raised-button class="btn-primary" (click)="goToImageCreate()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <div class="col-md-3 ml-4">
      <button mat-raised-button class="btn-warning" (click)="goToImages()">
        <mat-icon>list</mat-icon>
      </button>
    </div>
  </div>

  <hr style="margin-top: 8%">

  <h5>Flavors</h5>

  <div *ngIf="host.data.flavors.length > 0; then thenBlock"></div>

  <ng-template #thenBlock>

    <div
      fxLayout="row wrap"
      fxLayoutGap="32px"
      fxLayoutAlign="flex-start"
      fxLayout.lt-sm="column">
      <ng-container *ngFor="let f of host.data.flavors; index as i">
        <mat-card
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%"
          class="mt-md-4"
          appMaterialElevation [defaultElevation]="variableHeight" raisedElevation="8"
        >
          <mat-card-header>
            <mat-card-title>Flavor {{i + 1}}</mat-card-title>
          </mat-card-header>

          <mat-card-content class="ml-3" style=" width: 210px;">

            <div>
              <small>Name</small>
              <p class="sub-text">{{f.name}}</p>
            </div>

            <div>
              <small>Mnt</small>
              <p class="sub-text">{{f.mountPoint}}</p>
            </div>

            <div>
              <small>Size</small>
              <p class="sub-text">{{f.size}}</p>
            </div>

            <button mat-icon-button
                    class="btn-outline-danger"
                    style="float: right"
                    (click)="deleteFlavor(i)">
              <mat-icon>clear</mat-icon>
            </button>

          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>

  </ng-template>

  <div style="float: right; margin-right: 13.2%">
    <button mat-raised-button class="btn-primary" (click)="goToFlavorCreate()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <br>

</div>

<div class="mt-0 row" style="float: right; margin-right: 7.4%">

  <div class="col-md-3">
    <button mat-raised-button class="btn-danger" (click)="ok()">
      <mat-icon>done</mat-icon>
    </button>
  </div>

  <div class="col-md-3 ml-4">
    <button mat-raised-button class="btn-secondary" (click)="goBack()">
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>

</div>

<br>
<br>
