<ngb-carousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  interval="8000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [activeId]="'firstSlide'"
  class="col"
>
  <ng-template ngbSlide id="firstSlide">
    <div class="picsum-img-wrapper">
      <img src="../../../assets/carusel/carusler-pic-three.png" style="border: #c2c3c4" alt="Angular Carousel 1">
    </div>
  </ng-template>
  <ng-template ngbSlide id="secondSlide">
    <div class="picsum-img-wrapper">
      <img src="../../../assets/carusel/carusel-pic-helm.png" style="border: solid 1px grey" alt="Angular Carousel 2">
    </div>
  </ng-template>
  <ng-template ngbSlide id="thirdSlide">
    <div class="picsum-img-wrapper">
      <img src="../../../assets/carusel/carusel-nginx.png" style="border: solid 1px grey" alt="Angular Carousel 2">
    </div>
  </ng-template>
</ngb-carousel>
