<div class="jumbotron pt-4 pb-4 center-body">

  <h4>Environment</h4>

  <form class="input-form">
    <mat-form-field class="input-form-width">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameFormControl" placeholder="my_ubuntu20.14" [(ngModel)]="env.data.name">
      <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
        Please enter a valid name
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('pattern')">
        Pattern: my_ubuntu_20.14
      </mat-error>
    </mat-form-field>
  </form>

  <hr>

  <h5>Provider</h5>

  <div *ngIf="env.data.provider != undefined; then provider"></div>

  <ng-template #provider>
    <div class="row mt-md-2"
         style="width:95%; background-color: white; border-radius: 8px; padding: 15px;
                margin-left: 2.5%">
      <div class="col-md-3 ml-2">
        <span style="font-size: small">Name</span>
        <p tyle="text-align: center">{{env.data.provider.name}}</p>
      </div>
      <div class="col-md-3">
        <span style="font-size: small">Type</span>
        <p tyle="text-align: center">{{env.data.provider.type}}</p>
      </div>
      <div class="col-md-3">
        <span style="font-size: small">URL</span>
        <p tyle="text-align: center">{{env.data.provider.url}}</p>
      </div>
      <div class="col-md-2">
        <span style="font-size: small">Connection</span>
        <p>{{env.data.provider.connectionType}}</p>
      </div>
    </div>
  </ng-template>

  <div class="row mt-3" style="float: right">

    <div class="col-md-3">
      <button mat-raised-button class="btn-primary" (click)="goToProviderCreate()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <div class="col-md-3 ml-4">
      <button mat-raised-button class="btn-warning" (click)="goToProviders()">
        <mat-icon>list</mat-icon>
      </button>
    </div>
  </div>

  <hr style="margin-top: 8%">

  <h5>Hosts</h5>

  <div *ngIf="env.data.hosts.length > 0; then thenBlock"></div>

  <ng-template #thenBlock>

    <div
      fxLayout="row wrap"
      fxLayoutGap="32px"
      fxLayoutAlign="flex-start"
      fxLayout.lt-sm="column">
      <ng-container *ngFor="let h of env.data.hosts; index as i">

        <mat-card
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%"
          class="mt-md-4"
          appMaterialElevation [defaultElevation]="variableHeight" raisedElevation="12"
          (click)="goToHostUpdate(h)"
        >

          <mat-card-header>
            <mat-card-title>Host {{i + 1}}</mat-card-title>
            <mat-card-subtitle style="font-style: italic">{{h.name}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="ml-3" style=" width: 210px;">

            <h6 style="font-family: Helvetica">Image</h6>
            <p class="sub-text" style="font-style: italic">{{h.image.name}}:{{h.image.tag}}</p>

            <hr>

            <p class="sub-text mt-1">Flavores</p>

            <table>
              <tr>
                <th>Mount point</th>
                <th>Size</th>
              </tr>
              <tr *ngFor="let f of h.flavors">
                <td>{{f.mountPoint}}</td>
                <td>{{f.size}}</td>
              </tr>
            </table>

          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </ng-template>

  <div style="float: right; margin-right: 13.2%">
    <button mat-raised-button class="btn-primary" (click)="goToHostCreate()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <br>
</div>

<div class="mt-0 row" style="width: 25%; float: right; margin-right: 3.6%">

  <div class="col-md-3 ml-4">
    <button mat-raised-button class="btn-danger" (click)="ok()">
      <mat-icon>done</mat-icon>
    </button>
  </div>

  <div class="col-md-3 ml-2">
    <button mat-raised-button class="btn-secondary" (click)="goBack()">
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>

</div>

<br>
<br>
