<h2 mat-dialog-title>No running instance</h2>
<mat-dialog-content class="mat-typography" style="border: 1px solid darkmagenta">
  <h3>Message</h3>
  {{data}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Instances</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Bootstraps</button>
</mat-dialog-actions>
