<div>
  <div style="border: 1px solid darkgrey">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--  Provider's name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
      </ng-container>

      <!--  Provider's type Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
      </ng-container>

      <!-- Provider's path Column -->
      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.url}}</mat-cell>
      </ng-container>

      <!-- Connection type Column -->
      <ng-container matColumnDef="connType">
        <mat-header-cell *matHeaderCellDef>Connection</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.connectionType}}</mat-cell>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button class="text-light" (click)="select(row)"
                  style="background-color: #27a027;">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover"></mat-row>
    </table>

    <mat-paginator
        #paginator
        [length]="envAmount"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>

<br>

<button mat-raised-button class="btn-secondary" style="float: right; margin-right: 9%" (click)="goBack()">
  <mat-icon>navigate_before</mat-icon>
</button>
