<div class="jumbotron pt-4 pb-4 center-body">

  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <mat-panel-title style="width: 13.5%">
        Metadata
      </mat-panel-title>
      <mat-panel-description>
        Main info about the environment
      </mat-panel-description>
    </mat-expansion-panel-header>

    <hr>

    <div class="row mt-2">
      <div class="col-md-4">
        Name <h5 style="font-family: Helvetica">{{env.data.name}}</h5>
      </div>
      <div class="col-md-4">
        Provider <h5 style="font-family: Helvetica">{{env.data.provider.name}}</h5>
      </div>
      <div class="col-md-4">
        Type <h5 style="font-family: Helvetica">{{env.data.provider.type}}</h5>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="mt-2">
    <mat-expansion-panel-header class="disable_ripple">
      <mat-panel-title>
        Network
      </mat-panel-title>
      <mat-panel-description>
        How to connect
      </mat-panel-description>
    </mat-expansion-panel-header>

    <hr>

    <div class="row mt-2">
      <div class="col-md-4">
        URL <h5 style="font-family: Helvetica">{{env.data.provider.url}}</h5>
      </div>
      <div class="col-md-4">
        Connection <h5 style="font-family: Helvetica">{{env.data.provider.connectionType}}</h5>
      </div>
    </div>
  </mat-expansion-panel>

  <hr class="mt-md-3 mb-md-4">

  <div *ngIf="env.data.hosts !== null || env.data.hosts !==undefined;
   then thenBlock"></div>

  <ng-template #thenBlock>

    <div
      fxLayout="row wrap"
      fxLayoutGap="32px"
      fxLayoutAlign="flex-start"
      fxLayout.lt-sm="column">
      <ng-container *ngFor="let h of env.data.hosts; index as i">

        <mat-card
          fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%"
          class="mt-md-4"
          appMaterialElevation [defaultElevation]="variableHeight" raisedElevation="12"
        >

          <mat-card-header>
            <mat-card-title>Host {{i + 1}}</mat-card-title>
            <mat-card-subtitle style="font-style: italic">{{h.name}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="ml-3" style=" width: 210px;">

            <h6 style="font-family: Helvetica">Image</h6>
            <p class="sub-text" style="font-style: italic">{{h.image.name}}:{{h.image.tag}}</p>

            <hr>

            <p class="sub-text mt-1">Volumes</p>

            <table>
              <tr>
                <th>Mount point</th>
                <th>Size</th>
              </tr>
              <tr *ngFor="let f of h.flavors">
                <td>{{f.mountPoint}}</td>
                <td>{{f.size}}</td>
              </tr>
            </table>

          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>

  </ng-template>

</div>

<div class="mt-0 row" style="float: right; margin-right: 5%">

  <div class="col-md-3">
    <button mat-raised-button class="btn-warning" (click)="update()" style="float: right; margin-right: 9%">
      <mat-icon>create</mat-icon>
    </button>
  </div>

  <div class="col-md-3 ml-2">
    <button mat-raised-button class="btn-danger" (click)="deleteEnv()" style="float: right; margin-right: 9%">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <div class="col-md-3 ml-2">
    <button mat-raised-button class="btn-secondary" (click)="goBack()">
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>

</div>

<br>
<br>
