<div style="border:1px solid darkgrey">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id | slice:0:13}} </mat-cell>
    </ng-container>

    <!-- Env name Column -->
    <ng-container matColumnDef="envName">
      <mat-header-cell *matHeaderCellDef>Bootstrap</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.envName}} </mat-cell>
    </ng-container>

    <!-- Created at Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef>Started</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.createdAt * 1000 | date: 'd/M/yy, h:mm a':'ru' }} </mat-cell>
    </ng-container>

    <!-- Provider name Column -->
    <ng-container matColumnDef="providerLogin">
      <mat-header-cell *matHeaderCellDef> Provider</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.provider.name}} </mat-cell>
    </ng-container>

    <!-- Provider URL Column -->
    <ng-container matColumnDef="providerUrl">
      <mat-header-cell *matHeaderCellDef> URL</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.provider.url}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="connectionType">
      <mat-header-cell *matHeaderCellDef>Conn.</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.provider.connectionType}} </mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button class="text-light" (click)="navToTerminal(row)" style="background-color: #27a027;">
          Bash
        </button>
        <button mat-raised-button class="text-light ml-2" (click)="stopEnv(row)" style="background-color: #cc503f;">
          X
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="navigateToDetail(row)"
             class="row-hover"></mat-row>
  </mat-table>

  <mat-paginator
      #paginator
      [length]="envAmount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>

<br>
