.mat-header-cell {
  flex-direction: column;
  justify-content: center;

  color: honeydew;

  font-family: Helvetica;
  font-style: normal;
  font-size: 0.9em;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}
