.page-text {
  font-family: Helvetica;
  font-style: normal;
  font-size: 1.25em;
  color: rgb(36, 36, 36);
}

.navbar-text {
  font-family: Helvetica;
  font-style: normal;
  font-size: 1.25em;
  color: rgba(226, 241, 226, 0.88);
}

.routes {
}

a.routes:hover {
  background-color: rgba(195, 221, 251, 0.19);
  padding: 0.2em 0.2em;
  text-decoration: none;
  border-radius: 8px;
}

a.nb:hover {
  background-color: rgba(195, 221, 251, 0.19);
  padding: 0.25em 0.25em;
  text-decoration: none;
  border-radius: 8px;
}

.btn-sign-up {
  background-color: #dc3545 !important;
  text-decoration: none;
  border-radius: 8px;
}

.app-background{
  background-color: rgba(246,246,246,0.81);
}
