<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-text"
     style="background-color: #2979de;">
  <div class="container-fluid">

    <div class="col" style="margin-left: 6.5em">
      <a class="navbar-brand nb" routerLink="/home">
        <img
          width="50"
          alt="EnvZ0ne Logo"
          src="../../../assets/bash.ico"
        />
        <span class="text-light" style="margin-left: 0.3em">{{title}}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse col-4" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!--<li class="nav-item mr-3">
          <a class="nav-link text-light routes" routerLink="/terminal">Terminal</a>
        </li>-->
        <li class="nav-item mr-3">
          <a class="nav-link text-light routes" routerLink="/instances">Instance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light routes" routerLink="/env-configs">Bootstrap</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse col-1" id="navbarSignUp">
      <ul class="navbar-nav ml-3">
        <li class="nav-item btn-sign-up">
          <a class="nav-link text-light" routerLink="/auth">Log In</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container page-text" style="margin-top: 6%">
  <router-outlet></router-outlet>
</div>
