.page-text {
  font-family: Helvetica;
  font-style: normal;
  font-size: 1.2em;
}

.page-text-big {
  font-size: 1.35em;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(34, 86, 158, 0.19);
  border-style: solid;
  border-width: 1px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > div.info {
  background-color: #f1f1f1;
  width: 100%;
  height: 100px;
  margin: 10px;
  margin-right: 3px;
  margin-left: 1px;
  line-height: 75px;
}

.flex-container > div.term {
  background-color: #f1f1f1;
  width: 100%;
  margin: 10px;
  margin-left: 1px;
  margin-right: 1px;
}
