<div class="pt-4 pb-2 pl-0 pr-0 center-body"
     style="width: 100%; margin-left:0%; background-color: rgba(115, 115, 115, 0.73); color: #f4f4f4">

  <div class="row ml-1 mb-0">
    <div class="col-md-1">
      <h4>
        Instance
      </h4>
    </div>
    <p class="col-md-2 ml-2">
      {{instance.data.id | slice:0:8}}
    </p>
  </div>

  <hr style="border-color: white; border-style: solid">

  <div class="ml-3">
    <ng-terminal #term [dataSource]="writeSubject" (keyInput)="onKeyInput($event)">
    </ng-terminal>
  </div>
</div>

<button
  mat-raised-button
  class="btn text-light btn-info mt-3"
  style="float: right; margin-right: 5%"
  (click)="goBack()">
  <mat-icon>
    navigate_before
  </mat-icon>
</button>
<!--
<div>
  <div class="row">
    <div class="col-md-3" style="background-color: #e9ecef; border-radius: 10px; height: 220px">

      <div class="mat-typography mt-2">

        <br>

        <p>
          <strong>Instance</strong>: {{instance.data.id | slice:0:8}}
        </p>

        <hr>

        <br>

        <p>
          <strong>Provider</strong>: {{instance.data.provider.name}}
        </p>

        <p>
          <strong>Provider type</strong>: {{instance.data.provider.type}}
        </p>

        <p>
          <strong>URL</strong>: {{instance.data.provider.url}}
        </p>

        <p>
          <strong>Connection</strong>: {{instance.data.provider.connectionType}}
        </p>

      </div>
    </div>

    <div class="col-md-9 pl-1">
      <ng-terminal #term [dataSource]="writeSubject" (inBuffer)="onKeyInput($event)"></ng-terminal>
    </div>

  </div>

  <button
    mat-raised-button
    class="btn text-light btn-secondary mt-1"
    style="float: right;"
    (click)="goBack()">
    Back
  </button>
</div>
-->
