<div>
  <div style="border: 1px solid darkgrey">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Env Config name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
      </ng-container>

      <!-- Provider name Column -->
      <ng-container matColumnDef="providerName">
        <mat-header-cell *matHeaderCellDef>Provider</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.provider.name}} </mat-cell>
      </ng-container>

      <!-- Provider Type Column -->
      <ng-container matColumnDef="providerType">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.provider.type}}</mat-cell>
      </ng-container>

      <!-- Provider URL Column -->
      <ng-container matColumnDef="providerUrl">
        <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.provider.url}} </mat-cell>
      </ng-container>

      <!-- Provider connection type Column -->
      <ng-container matColumnDef="connType">
        <mat-header-cell *matHeaderCellDef>Con.</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.provider.connectionType}} </mat-cell>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button class="text-light" (click)="runEnv(row)"
                  style="background-color: #27a027;">
            <mat-icon>launch</mat-icon>
          </button>
          <button mat-raised-button class="text-light ml-2" (click)="deleteEnv(row)"
                  style="background-color: #cc503f;">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="goToConfig(row)"
               class="row-hover"></mat-row>
    </table>

    <mat-paginator
        #paginator
        [length]="envAmount"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>

  <div class="mt-3">
    <button mat-raised-button class="btn-primary" (click)="goToCreateEnv()"
            style="float: right; margin-right: 10.5%">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

</div>
