input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: blue;
  font-style: normal;
  font-size: 1.2em;
}
input:focus {
  border-color: #cc503f;
  border-width: 0 0 2px;
}

table, td, th {
  border: 1px solid #707070;
}

