/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";

.center-body {
  width: 86%;
  background-color: rgba(226, 226, 226, 0.85);
  border-radius: 10px;
  margin-left: 8%
}

.main-text {
  font-family: Helvetica;
  font-style: normal;
  font-size: 1.4em;
}

.sub-text {
  font-family: Helvetica;
  font-style: normal;
  font-size: 1.15em;
}

.config-prop {
  background-color: rgba(41, 121, 222, 0.19);
  padding: 0.2em 0.2em;
  text-decoration: none;
  border-radius: 8px;
}

.table-text {
  font-family: Helvetica;
  font-style: normal;
  font-size: 1.25em;
}

.input-form {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
}

.input-form-width {
  width: 100%;
}

p {
  font-style: normal;
  font-family: Helvetica;
}

/**Table**/

table, th, td {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  width: 25%;
  padding-left: 15px;
}

.mat-header-row {
  background-color: rgba(115, 115, 115, 0.73);
}

.mat-row:hover {
  background-color: rgba(229, 221, 228, 0.58);
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;

  color: honeydew;

  font-family: Helvetica;
  font-style: normal;
  font-size: 0.9em;
}

.mat-row {
  height: auto;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

/**Cards**/

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}

.cardList > *:not(:last-child) {
  margin-right: 32px;
}

/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

/* medium size viewport */
@media screen and (max-width: 959px) {
  /* Column Gap */
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }

  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(50% - 32px);
  }
}

/* small size viewport */
@media screen and (max-width: 599px) {
  .cardList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .cardList > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 32px;
  }
}
